{% extends 'base.html'%} {% load static %}

<br /><br /><br />

{% block content %}

<!-- about section start -->

<section id="About">
  <div class="container-fluid py-5 bg-dark border-bottom mb-4 text-warning">
    <div class="text-center my-5">
      <h1 class="fw-bolder">About Us</h1>
    </div>
  </div>
</section>

<section id="About">
  <div class="container">
    <div class="row featurette pt-4">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-4">
          We provide high quality <br />Articles & blogs
        </h2>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.Totam
          doloribus nostrum at illo est? Itaque dolor rerum aperiam officiis
          enim vero? Nisi dicta enim cum, nemo recusandae eligendi inventore
          quae illo possimus dignissimos cumque fuga qui excepturi eveniet quas
          ex.
        </p>
      </div>
      <div class="col-md-5 order-md-1" style="float: inline-end">
        <img
          src="{% static 'images/about.png' %}"
          alt=""
          height="300px"
          width="100%"
        />
      </div>
    </div>
  </div>
</section>

<br /><br />
{% endblock %}

<!-- about section end -->
